[Unit]
Description=Hass.io AppArmor
Wants=network-online.target time-sync.target
After=network-online.target time-sync.target
Before=%%SERVICE_DOCKER%% hassio-supervisor.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%%HASSIO_APPARMOR_BINARY%%

[Install]
WantedBy=multi-user.target
